% A snippet to insert a floating figure 
ctrl key = f
group = Floating
insert at cursor =
\begin{figure}[htbp]
  \centering
  \includegraphics[width=0.8\textwidth]{<SELECTION>}
  \caption{}
\end{figure}
