% A snippet to insert a floating table
ctrl key = t
group = Floating
insert at cursor =
\begin{table}[htbp]
  \centering
  \begin{tabular}{l|cc}
    & & \\
    \hline
    & & \\
    & &
  \end{tabular}
  \caption{<SELECTION>}
\end{table}
