% A snippet to insert a floating table
ctrl key = t
group = Floating
insert at cursor =
\begin{table}[htbp]
  \centering
  \begin{tabular}{|p{.2\textwidth}|p{.3\textwidth}|p{.3\textwidth}|}
    \toprule
    & & \\
    \toprule
    & & \\
    \hline
    & &
    \bottomrule
  \end{tabular}
  \caption{<SELECTION>}
\end{table}
