% A standard LaTeX preamble
ctrl key = p
insert at cursor =
\documentclass[cn,geye,blue,11pt,normal]{elegantnote_texpad}
\title{<SELECTION>}
\author{郭奕}
%\institute{}
%\version{1.0.0}
\date{\today}

\begin{document}
\begin{CJK}{UTF8}{gbsn}
\maketitle
\tableofcontents
\newpage
\listoftables
\listoffigures
\newpage


\end{CJK}
\end{document}

